#root{
  background-color: rgb(69, 70, 69) !important;
  color: rgb(255, 255, 255) !important;
  font-family: Helvetica;
  font-weight: 100;
  padding: 5px;
  max-width: 1000px;
}

.list-container {
  padding: 20px;
}

.list-item-container {
  /* background-color: rgb(114, 113, 113) !important; */
  padding: 10px;
  margin: 10px;
}

#add-album-btn {
  background-color: rgb(250, 46, 27) !important;
  padding: 5px;
  margin: 5px;
  color: #fff;
}


#clear-checked-btn {
  background-color: rgb(250, 46, 27) !important;
  padding: 5px;
  margin: 5px;
  color: #fff;
}
